.chat-main_header.columns
  .chat-main_header_group.column
    .chat-main_header_group_name
      樋口カッター
    .chat-main_header_group_member
      Members: seo
  .chat-main_header_edit.column.is-1
    .edit_button.button.is-medium
      = link_to '#' do
        edit
.chat-main_contain
  .chat-main_contain_info.is-flex
    %p.chat-main_contain_info_name
      shouya
    %p.chat-main_contain_info_time
      2018-3-31-12313-42892
  .chat-main_contain_message
    行動を続けたら、口だけの人は身の回りから減り続ける
.chat-main_form.columns
  %input.input.is-success.is-focused.column
  .send-button.button.is-dark.column.is-1
    = link_to '#' do
      SEND