.chat-side_header.columns.is-half.has-text-centered
  .chat-side_header_name.column.has-text-white
    shouya
  .chat-side_header_icons.column.is-flex
    = link_to '#' do
      = fa_icon("gear")
    = link_to '#' do
      = fa_icon("edit")
.chat-side_content.has-text-white
  .chat-side_content_group.has-weight-bold
    樋口カンパニー
  .chat-side_content_message
    なんでもないよ