.chat-main {
	&_header {
		border-bottom: 1px solid gray;
		&_group {
			padding: 20px;
			padding-left: 35px;
			&_name {
				font-size: 27px;
			}
		}
		.edit_button {
			margin-top: 16px;
		}
	}
	&_contain {
		padding: 20px;
		&_info {
			&_name {
				padding: 0 10px;
				font-weight: bold;
			}
			&_time {
				font-weight: lighter;
				opacity: 0.5;
			}
		}
	}
	&_form {
		position: fixed;
		bottom: 25px;
		width: 85%;
		input {
			height: 50px;
		}
		.send-button {
			padding-bottom: 36px;
		}
	}
}
